/* You can add global styles to this file, and also import other style files */
.btn-disco{
  background: #E90 !important;
  color: white !important;
  border-radius: 0 !important;
  border: 0 !important;
}

.btn-disco:hover{
  outline: none !important;
  box-shadow: none !important;
  background: #E5A !important;
}

.form-disco-header{
  border: 0 !important;
  border-radius: 0 !important;
}

.form-disco-header:focus{
  outline: none !important;
  box-shadow: none !important;
}

.addForm{
  padding: 20px;
  border: 1px solid #ced4da;
}

.spacer50{
  margin-top: 50px;
}

.spacer40{
  margin-top: 40px;
}

.spacer30{
  margin-top: 30px;
}

.spacer20{
  margin-top: 20px;
}
