/* You can add global styles to this file, and also import other style files */
.form-disco{
  border-radius: 0 !important;
}

.form-disco:focus {
    border-color: #ced4da !important;
    outline: none !important;
    box-shadow: none !important;
}

.addForm{
  padding: 20px;
  border: 1px solid #ced4da;
}

.spacer50{
  margin-top: 50px;
}

.spacer40{
  margin-top: 40px;
}

.spacer30{
  margin-top: 30px;
}

.spacer20{
  margin-top: 20px;
}
