<div class="grid">
  <div *ngFor="let disco of discos" class="element-item transition metal" data-category="transition">
    <div class="lp-container">
      <div class="lp lp-side"></div>
      <div class="lp lp-cover"></div>
      <div class="lp lp-hole"></div>
    </div>
    <div class="disco-info-container">
      <div  class="disco-info-sub-container">
        <div class="name disco-name-container">
          <h3>{{disco.name}}</h3>
        </div>
        <div class="btn-container">
          <button [routerLink]="['/editDisco', disco.id]" class="btn btn-disco btn-edit-disco btn-primary">Editar</button>
          <button (click)="deleteDisco(disco.id, disco)" class="btn btn-disco btn-remove-disco btn-primary">Remover</button>
        </div>
      </div>
    </div>
  </div>
</div>
