.navbar-disco{
  background: #8C8;
}

.nav-item-disco {
  cursor: pointer;
  padding: 18px !important;
}

.nav-item-disco:hover {
  background: #E5A;
  color: white;
}

.nav-item-disco-active {
  background: #ED2 !important;
}

.navbar-brand-disco{
  margin-right: 0px !important;
}

.navbar-light .navbar-brand-disco {
    color: white !important;
}

.navbar-light .navbar-nav-disco .nav-link{
  color: white !important;
}

.dropdown-menu-disco{
  border-radius: 0 !important;
  background: #8C8 !important;
}

.dropdown-item-disco{
  color: white !important;
}

.dropdown-item-disco:hover{
    background: #E5A !important;
}

.form-disco-header{
  border: 0 !important;
  border-radius: 0 !important;
}

.form-disco-header:focus{
  outline: none !important;
  box-shadow: none !important;
}

.btn-disco{
  background: #E90 !important;
  color: white !important;
  border-radius: 0 !important;
  border: 0 !important;
}

.btn-disco:hover{
  outline: none !important;
  box-shadow: none !important;
  background: #E5A !important;
}

@media (min-width: 992px){
  .navbar-disco{
    padding: 0 !important;
  }

  .navbar-nav-disco{
    padding-left: 20px !important;
  }

  .form-inline-disco{
    padding-right: 50px !important;
  }

}
