<nav class="navbar-disco navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav-disco navbar-nav mr-auto">

        <li class="nav-item-disco nav-item">
          <a class="navbar-brand-disco navbar-brand" href="#">iBolacha</a>
        </li>
        <li class="nav-item-disco nav-item" routerLinkActive="nav-item-disco-active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item-disco nav-item dropdown" routerLinkActive="nav-item-disco-active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Coleções
          </a>
          <div class="dropdown-menu dropdown-menu-disco" aria-labelledby="navbarDropdown">
            <a *ngFor="let discoCollection of discoCollections" [routerLink]="['/collectionFilter', discoCollection.id]" class="dropdown-item dropdown-item-disco">
               {{discoCollection.name}}
            </a>
          </div>
        </li>
        <li class="nav-item-disco nav-item" routerLinkActive="nav-item-disco-active">
          <a class="nav-link" routerLink="/addDisco">Novo Disco</a>
        </li>
    </ul>
    <form [formGroup]="searchForm" (ngSubmit)="goSearch()" class="form-inline form-inline-disco my-2 my-lg-0">
      <input formControlName="searchChar" name="searchChar" class="form-control form-disco-header mr-sm-2" type="search" placeholder="Nome do Disco">
      <button class="btn-disco btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>
